﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Ping.aspx.cs" Inherits="Ceritek.WebServices.DB.Ping" %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Portail SQL</title>
</head>

<body>

Running
 
</body>

</html>
